<style>
*{
  font-family: !important monospace, sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background-color: #FFDDDD;
  color: #401;
  font-family: monospace, sans-serif;
}

.fdiv{
  padding: 25px;
  height: 50vh;
  width: 80vh;
  box-shadow: 
    inset -3px -3px 20px -3px #A66,
    inset 3px 3px 23px 2px #FEE;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nyasshu{
  position: fixed;
  bottom: 5px;
  left: 5px;
  background-color: #FDD;
  color: #404;
  padding: 5px;
  padding-right: 0px;
  font-family: monospace, sans-serif;
}
.nyasshu::after{
  position: relative;
  content: 'v1.0';
  background-color: #404;
  color: #FDD;
  right: 0px;
  padding: 5px;
}

</style>

<div class="nyasshu">
  Nyasshu
</div>

<div class="fdiv">

  <h1>Welcome</h1>
  <p>endpoints: /cache?site=</p><br>
  <p>site: http(s)://example.org</p>

</div>
