<style>
*{
  font-family: !important monospace, sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background-color: #FFDDDD;
  color: #401;
  font-family: monospace, sans-serif;
}

.fdiv{
  padding: 25px;
  height: 50vh;
  width: 80vh;
  box-shadow: 
    inset -3px -3px 20px -3px #A66,
    inset 3px 3px 23px 2px #FEE;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>

<center><p><font size="6px" color="#AA4400" style="font-family: monospace;">Nyashhu v1.0</font></p></center>

<div class="fdiv">

  <h1>! ATTENTION</h1>
  <p>Please make sure your URL starts with http:// or https://</p>

</div>
